body{

background:#0f172a;

font-family:Segoe UI;

color:white;

}

.card{

border:none;

border-radius:15px;

}

.card-header{

font-size:20px;

font-weight:bold;

}

.table{

margin-bottom:0;

}

.table th{

width:40%;

}

img{

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,.3);

}

.btn{

padding:12px 40px;

font-size:18px;

border-radius:12px;

}