<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Investigation History</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

<style>

body{
    background:#0f172a;
}

.card{
    border:none;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.history-card{
    transition:.3s;
}

.history-card:hover{
    transform:translateY(-5px);
}

</style>

</head>

<body>

<div class="container py-5">

<h2 class="text-center text-white mb-5">

📁 My Investigation History

</h2>

<div class="row">

{% for case in investigations %}

<div class="col-lg-6 mb-4">

<div class="card history-card">

<div class="card-header bg-primary text-white">

<b>{{ case.case_id }}</b>

</div>

<div class="card-body">

<h5>

📷 {{ case.filename }}

</h5>

<hr>

<p>

<b>Risk :</b>

{% if case.risk=="LOW" %}

<span class="badge bg-success">

LOW

</span>

{% elif case.risk=="MEDIUM" %}

<span class="badge bg-warning text-dark">

MEDIUM

</span>

{% else %}

<span class="badge bg-danger">

HIGH

</span>

{% endif %}

</p>

<p>

⭐ Investigation Score

<b>

{{ case.score }}%

</b>

</p>

<p>

🎯 Confidence

<b>

{{ case.confidence }}%

</b>

</p>

<p>

📅

{{ case.created_at.strftime("%d %B %Y %I:%M %p") }}

</p>

<hr>

<div class="d-grid gap-2">

<a
href="/static/reports/{{ case.report_path.split('/')[-1] }}"
class="btn btn-success">

📄 Download PDF

</a>

</div>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

</body>

</html>